body{
    width: 100%;
    margin: auto;
    background: #D4FFE6;
    background-size: cover;

}
.container{
    width: 960px;
    margin: 0 auto;


}
.header{
    width: 100%;
    top: 0;
    position: fixed;

}
.headerMask{
    background: black;
    width: 100%;
    top: 0;
    position: fixed;
    opacity: 0.4;
}

.logo{
    float: left;
    font-family: Helvetica;
    color: turquoise;
    opacity: 10;
}

li{
    list-style-type: none;
    color: gray;
    font-family: Helvetica;
    float: left;
    margin: 13px;padding-top: 2px;
    color: white;
    transition: .4s;
}

.nav{
    float: right;
}
.content{
    padding-top: 80px;
}
